# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
tfds/
*.egg-info/
dual_transformer_omniglot_*/
transformer_omniglot*/
transformer_llama3*/
*.zip
*.h5
*.npz
*.csv
*.png
.installed.cfg
*.egg
MANIFEST
